<div class="page relatorio-demonstrativo container-fluid py-3">
  <ng-template #templateFiltros>
    <div class="row g-3 gx-5 align-items-end">
      <div class="col-12 col-md-auto">
        <label class="form-label mb-1">Ano Base</label>
        <p-select
          [options]="anosBase"
          [(ngModel)]="anoBaseSelecionado"
          (ngModelChange)="aoMudarAnoBase($event)"
          optionLabel="label"
          optionValue="value"
          [style]="{ width: '180px' }"
        ></p-select>
      </div>

      <div class="col-12 col-md-auto">
        <label class="form-label mb-1">Situação Atual</label>
        <div class="d-flex">
          <p-tag value="RD Aguardando Análise" icon="pi pi-circle-fill" severity="success"></p-tag>
        </div>
      </div>
    </div>
  </ng-template>

  <app-grid-relatorio-demonstrativo
    [titulo]="tituloGrid"
    [subtitulo]="subtituloGrid"
    [colunas]="colunas"
    [dados]="dados"
    [page]="page"
    [size]="size"
    [total]="total"
    [arrayPageSizeOptions]="arrayPageSizeOptions"
    [templateFiltros]="templateFiltros"
    (onChangePage)="aoMudarPagina($event)"
    (onChangeSize)="aoMudarTamanhoPagina($event)"
    (onNovo)="novo()"
    (onExportar)="exportar()"
    (onEditar)="editar($event)"
    (onExcluir)="excluir($event)"
    (onCopiar)="copiar($event)"
    (onAbrirDetalhes)="abrirDetalhes($event)"
  ></app-grid-relatorio-demonstrativo>
</div>
